option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: app:application # APONTA PARA application DENTRO DE app.py
  aws:elasticbeanstalk:application:environment:
    PYTHONPATH: /var/app/current
    # FLASK_APP: app.py # Esta linha é redundante se WSGIPath está correto e PYTHONPATH. Pode remover.
    # Você pode adicionar DEBUG_ANALISE e as chaves de API aqui se quiser centralizar.
container_commands:
  01_migrate:
    command: "python app.py db upgrade" # Confirme que 'app.py' é o correto. Remova a seção inteira se não usar migrações.
    leader_only: true