option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: app:application
    # Certifique-se que o Flask encontra app.py.
    # Adicione explicitamente o caminho para o requirements.txt, se o CodeBuild não o colocar na raiz.
    # Mas vamos confiar que buildspec.yml e req.txt na raiz do repo resolverão.
  aws:elasticbeanstalk:application:environment:
    PYTHONPATH: /var/app/current
# Removendo a migração de banco de dados por enquanto para simplificar
# container_commands:
#   01_migrate:
#     command: "python app.py db upgrade"
#     leader_only: true