option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: app:application
  aws:elasticbeanstalk:application:environment:
    FLASK_APP: app.py
    PYTHONPATH: /var/app/current
    # DEBUG_ANALISE: True # Se você configurou via console, mantenha lá. Se quiser centralizar, adicione aqui.
container_commands:
  01_migrate:
    command: "python application.py db upgrade" # ATENÇÃO: Substitua por seu comando real de migração ou remova se não usar
    leader_only: true