packages:
  yum:
    git: []
    gcc: []
    gcc-c++: []
    python3-devel: []
    libffi-devel: []
    openssl-devel: []
commands:
  01_pip_upgrade:
    command: "pip3 install --upgrade pip"
  02_install_requirements:
    command: "pip3 install -r req.txt > /var/log/pip_install_full.log 2>&1" # Linha alterada: de requirements.txt para req.txt