packages:
  yum:
    git: []
    gcc: []
    gcc-c++: []
    python3-devel: []
    libffi-devel: []
    openssl-devel: []
commands:
  01_pip_upgrade:
    command: "pip3 install --upgrade pip"
  02_install_flask:
    command: |
      #!/bin/bash
      set -e # Sai imediatamente se um comando falhar
      set -x # Imprime cada comando executado para o log
      echo "--- Instalando Flask ---"
      pip3 install Flask==3.1.1
  03_install_dotenv:
    command: |
      #!/bin/bash
      set -e
      set -x
      echo "--- Instalando python-dotenv ---"
      pip3 install python-dotenv==1.1.0
  04_install_gunicorn:
    command: |
      #!/bin/bash
      set -e
      set -x
      echo "--- Instalando gunicorn ---"
      pip3 install gunicorn==23.0.0
  05_install_flask_sqlalchemy:
    command: |
      #!/bin/bash
      set -e
      set -x
      echo "--- Instalando Flask-SQLAlchemy ---"
      pip3 install Flask-SQLAlchemy==3.1.1
  # NOTA: Se o deploy passar por esses, você poderá adicionar os próximos pacotes do seu
  # requirements.txt um por um ou em pequenos grupos da mesma forma.